.App {
  // background-color: #282c34;
  // color: hsl(221, 55%, 85%);
  text-align: center;
  height: 100vh;
}

.App-header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
